md-content.expandablePanel(layout='column' flex md-colors="{background:'{{$ctrl.theme.listColor}}'}")   
  #panelFilter.animated(flex='none' md-colors="{background:'blue-grey-50'}" layout-wrap layout='column' layout-align="center center" ng-class="{'fadeInDown':$ctrl.panelmode=='fullscreen'&&$ctrl.panel[$ctrl.ID].show}" ng-cloak ng-show="$ctrl.panelmode=='fullscreen'&&$ctrl.panel[$ctrl.ID].show")
    .filterFirstRow(layout='row' layout-align='space-around center' flex=100)
      md-input-container(flex layout='row' ng-repeat="(inputID,input) in $ctrl.filters.input")
        md-icon(ng-show="input.type=='text'") {{input.icon}}
        label(ng-class="{'datepicker':input.type=='date'}") {{input.label}}
        input(type='text' ng-focus="$ctrl.filter.showMoreFilter=true" ng-if="input.type=='text'")
        md-datepicker(ng-if="input.type=='date'" ng-model="$ctrl.filter[inputID]")
      span(flex)
      span(flex layout="row" align="right" layout-align="center center")
        md-switch.rightSwitch.md-primary(
            ng-true-value="{{switch.valueTrue}}"
            ng-false-value="{{switch.valueFalse}}"
            ng-repeat="(switchKey,switch) in $ctrl.filters.rightSwitch" 
            ng-model="$ctrl.filter[switchKey]" 
            ) {{switch.name}}
              md-tooltip {{switch.info}}
        md-switch.rightSwitch.md-primary(
          ng-show="$ctrl.filters.bottomSelect"
          ng-model="$ctrl.filter.showMoreFilter"
          ) 显示高级搜索
    .filterSecondRow(layout="row" flex=100 layout-align="center center" ng-show="$ctrl.filters.bottomSelect&&$ctrl.filter.showMoreFilter")
      span.spanTip() 筛选
      span.selectSpan(align="left" ng-repeat='(filterID,filter) in $ctrl.filters.bottomSelect')
        span(ng-if="filter.multiSelect && filter.input")
          include ./filter/select-multiple-with-input
        span(ng-if="!filter.multiSelect && filter.input")
          include ./filter/select-with-input
        span(ng-if="filter.multiSelect && !filter.input")
          include ./filter/select-multiple
        span(ng-if="!filter.multiSelect && !filter.input")
          include ./filter/select
      span(flex)
      md-button() 
        md-icon sort 
        | 排序
  md-content(flex)
    section
      md-subheader.md-primary(md-colors="{background:'{{$ctrl.theme.listColor}}'}") {{$ctrl.theme.chartTitle}} 
    section
      basic-chart(component="$ctrl.ID" config='$ctrl.chart')
      md-list
        md-list-item.md-3-line.md-long-text(ng-repeat="item in [1,2,3,4,5,6]" ng-click='null' )
          .md-list-item-text(layout='column')
            h3 汪峰
            h4 北京，北京
            p 当我走在这里的每一条街道
//rank
//search
//list common
//list started
//static
//chart
//detail
//workflow
//newsfeed
//calendar
//file uploader
//fileList
//messager
//salary
//clock
//calculator
//weather report
