md-toolbar.panelSetting(flex='none' layout='row' layout-align='start center' hide-xs)
  .md-toolbar-tools(layout='row' layout-align="space-between center" md-colors="{background:'blue-grey-900'}")
    //- md-switch(
    //-   ng-hide='true'
    //-   flex='none' 
    //-   layout="row" 
    //-   layout-align='start center' 
    //-   ng-model="mainDashboard.allPanelsShownButton.status"
    //-   ng-disabled='mainDashboard.allPanelsShownButton.disable'
    //-   ng-change='mainDashboard.openAllPanels()') 显示全部
    span(
        align='left'
        flex='20')
        span.animated(
          ng-show="mainDashboard.panelmode!=fullscreen"
          ng-class="{'fadeInDown':mainDashboard.panelmode!='fullscreen','fadeOutDown':mainDashboard.panelmode=='fullscreen'}"
          ) 客维系统
        span.animated(
          ng-show="panel.status=='fullscreen'" 
          ng-repeat="(panelKey,panel) in mainDashboard.panelStatus" 
          ng-class="{'fadeInDown':panel.status=='fullscreen','fadeOutDown':panel.status!='fullscreen'}") {{panel.name}}
    md-switch(
      align="left"
      flex="none"
      layout="row" 
      layout-align='start center' 
      ng-repeat="(panelKey,panel) in mainDashboard.panelStatus" 
      ng-model="mainDashboard.panelStatus[panelKey].show" 
      ng-disabled="panel.disable" 
      ng-change='mainDashboard.changePanelStatus(mainDashboard.panelStatus,panelKey)') {{panel.name}}
    
    span(flex)
    
    md-switch(
      align='right'
      flex='none'
      layout="row" 
      layout-align='start center' 
      ng-repeat="(panelKey,panel) in mainDashboard.topPanelStatus" 
      ng-model="mainDashboard.topPanelStatus[panelKey].show" 
      ng-disabled="panel.disable" 
      ) {{panel.name}}

    
      
